/* styles present on each page */
/* used class selector to select all 3 webpages*/
.links {
font-size: large;
font-weight: 100;
font-family: 'Times New Roman', Times, serif;
text-align: center;
}

.links:hover {
transform: scale(1.2);
}

body {
    background-color: lightgray;
}

/* only h1 element so use element selector*/
/*start of home page styles */
h1 {
    font-size: 60px;
    text-align: center;
    color: #cd0808;
    text-shadow: 0 0 10px #FFFFFF, 29px -18px 2px rgba(206,89,55,0.74);
    outline: 5px solid rgb(204, 31, 31);
    font-family: fantasy
}

p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    color: black;
    font-variant: small-caps;
}

/*start of menu styles */

table {
    border: 2px solid;
    width: 80%;
    border-collapse: collapse;
}

/* used an id selector to create column borders */
.right-border {
border-right: 2px solid;
}

.bottom-border {
    border-bottom: 2px solid;
}

input {
    background-color: rgb(192, 115, 115);
    font-family:Verdana, Geneva, Tahoma, sans-serif
}

label {
    font-weight: 1000;
    display: inline-block;
    float: left;
    clear: left;
    width: 140px;
    text-align: right;
}

/* issue moving submit button to be inline with labels */
#center-button {
    height: 40px;
    position: right;
    }

/*start of contact information styles could of organized the styles by class, id, and element styles but i'm not sure on the industry standard */

h2 {
    color: #cd0808;
}

ul {
    list-style-type: square;
}